html {
	background-color: #402;
}

#connect {
	position: fixed;
	top: 25vh;
	left: 50vw;
	transform: translateX(-50%);
}

#main {
	position: fixed;
	top: 0;
	left: 0;
	width: 100dvw;
	height: 100dvh;
	display: flex;
	flex-direction: column;
}